<nav id="navbar-example2" class="navbar bg-body-tertiary px-3 mb-3">
  <a class="navbar-brand" routerLink="productos" >Sistema de inventario</a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" routerLink="productos" routerLinkActive="active">Inicio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="agregar-producto" routerLinkActive="active">Agregar producto</a>
    </li>
  </ul>
</nav>

<div class="container">
    <router-outlet></router-outlet>
</div>